.carousel .slide {
    background: none;
}


@media screen and (max-width: 700px) {
    .carousel .slide img {
        max-height: 80vh;
        max-width: 100%;
        pointer-events: none;
    }
}

@media screen and (max-height: 500px) {
    .carousel .slide img {
        pointer-events: none;
    }
}