.button {
    display: inline-block;
    border: none;
    background-color: inherit;
    font-size: 16px;
    outline: none;
    cursor: pointer;
}

.status {
    margin-left: 18px;
    color: #858585;
}

.description {
    text-align: center;
}

.description p span {
    font-style: italic;
}

.carousel {
    margin-top: 10px;
}