.button {
    display: inline-block;
    border: none;
    background-color: inherit;
    font-size: 16px;
    outline:none;
}

.imageContainer {
    height: 500px;
}

.imageContainer img {
    margin-top: 7px;
    max-height: 500px;
    width: auto;
}

.description {
}

.description p name {
    font-style: italic;
}